#game {
    background-color: rgb(192, 192, 192);
    box-sizing: content-box;
    position: relative;
    height: 95vh;
    width: 95vw;
  }
  #board {
    background-color: rgb(192, 192, 192);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
.cross1{
    cursor:url(./Images/Cross1.png)25 15, auto;
}
.cross2{
    cursor:url(./Images/Cross2.png)25 15, auto;
}
.cross3{
    cursor:url(./Images/Cross3.png)25 15, auto;
}
.cross4{
    cursor:url(./Images/Cross4.png)25 15, auto;
}
.cross5{
    cursor:url(./Images/Cross5.png)25 15, auto;
}
.cross6{
    cursor:url(./Images/Cross6.png)25 15, auto;
}

h1{
    color: #333333; font-family: 'Bitter', serif; font-size: 100px; font-weight: normal; line-height: 54px; margin: 0 0 54px; 
}
h2{
    color: #333333; font-family: 'Bitter', serif; font-size: 50px; font-weight: normal; line-height: 54px; margin: 0 0 54px; 
}
.menu{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100vh;
 
}



.objectives{
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    position: absolute;
}

.objectiveHit{
    background-color: green;
    border: 1px solid black;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    position: absolute;
}

.button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 260px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 900;
    text-align: center;
    padding: 26px 24px 48px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
}

.button:hover{
    color: #fff;
    background-color: #616467;
}
.red{
    color:red;
}

.rating {
  background-color: rgba(172, 172, 172, 0.8);
  box-shadow: inset 0 0 0 2px #616467;
  padding: 0.4rem 0.4rem 0.1rem 0.4rem;
  border-radius: 2.2rem;
}

svg {
  fill: rgb(242, 242, 242);
  height: 3.6rem;
  width: 3.6rem;
  margin: 0.2rem;
}

.rating-form-2 svg {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}

#radios label {
  position: relative;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"] + svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input + svg {
  cursor: pointer;
}

input[class="super-happy"]:hover + svg,
input[class="super-happy"]:checked + svg,
input[class="super-happy"]:focus + svg {
  fill: rgb(106, 167, 227);
}

input[class="happy"]:hover + svg,
input[class="happy"]:checked + svg,
input[class="happy"]:focus + svg {
  fill: rgb(0, 204, 79);
}

input[class="neutral"]:hover + svg,
input[class="neutral"]:checked + svg,
input[class="neutral"]:focus + svg {
  fill: rgb(232, 214, 0);
}

input[class="sad"]:hover + svg,
input[class="sad"]:checked + svg,
input[class="sad"]:focus + svg {
  fill: rgb(229, 132, 0);
}

input[class="super-sad"]:hover + svg,
input[class="super-sad"]:checked + svg,
input[class="super-sad"]:focus + svg {
  fill: rgb(239, 42, 16);
}

#title, #start{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#targets{
    width: 100%;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    padding:0 30px;
    width: 100%;
}

.crosshairs{
    display: flex;
    flex-wrap: wrap;
}

.crosshairs img{
    width: 40%;
    transform: scale(0.5);
}

.clicked{
    outline: 5px solid rgb(255, 52, 52);
    border-radius: 20%;
    background-color: #7740404e;
}

.gameOver{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

