body {
    margin: 0;
    padding: 0;
}
#board{
    background-color: rgb(134, 134, 134);
    height: 100vh;
    width: 100%;
    position: relative;
}

.objectives{
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    position: absolute;
}